@model Task.Models.DTO_MVC.ProductDTO

@{
    ViewBag.Title = "Details";
}

<div class="site-section" id="products-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-6 text-center">
                <h2 class="section-title mb-3">Product Details</h2>
            </div>
        </div>

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="product-item">
                        <figure>
                            <img src="~/Content/Image/@Model.Photo" alt="Image" class="img-fluid" style=" width: 300px; height: 300px;">
                        </figure>
                        <div class="px-4">
                            <h3><span>Name :</span><span>  @Html.DisplayFor(modelItem => Model.Name)</span></h3>
                            <h3><span>Price :</span><span>  @Html.DisplayFor(modelItem => Model.Price)</span></h3>
                            <h3><span>LastUpdate :</span><span>  @Html.DisplayFor(modelItem => Model.LastUpdate) </span></h3>
                            <br />
                            <div>
                                <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-black mr-1 rounded-0">Edit</a>
                                <a href="@Url.Action("Index")" class="btn btn-black btn-outline-black ml-1 rounded-0">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>